.top-students
{
    background-color: rgb(255, 252, 249);
    border-radius: 10px;
    padding: 1.5rem;
    align-items: center;
}

.top-students img, .top-courses img
{
    width: 30%;
}

.top-students .row, .top-courses .row
{
    padding: 0.3rem;
}

.top-students h4, .top-courses h4
{
    margin-top: 1.5rem;
    font-weight: bold;
}
.students
{
    border-radius: 10px;
    background: white;
    padding: 0.5rem;
    left: 4%;
}

.profile-img
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 2em;
}

.top-courses
{
    padding: 1.5rem 1rem 1.5rem 2.5rem;
    align-items: center;
    border-right: 1px solid #f5f5f5;
}

.course-item-div
{
    border-left: 5px solid darkslateblue;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 0.2rem 0.2rem 0.2rem 1.5rem;
}

.course-detail-btn
{
    color: #a5a5a5;

}

.jobs
{
    padding: 1.5rem 0 0 1.5rem;
}

.jobs h3
{
    font-weight: bold;
    color: #ff6624;
}

.jobs h6
{
    color: lightgreen;
    line-height: 0.1;
    margin-top: 4%;
}

.add-jobs
{
    color:lightgreen;
    border-right: 1px solid lightgreen;
    padding: 0.7rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0,255,0,0.1);

}

.expert-img
{
    width: 100%;
}

.action
{
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
}

.action h4
{
    text-align: left;
    font-weight: bolder;
}

.action img
{
    width:60%;
    border-radius: 5px;
}

.div-group
{
    text-align: left;
}

.action h6
{
    line-height: 0.1;
    margin-top: 3%;
}

.expert-container, .institute-container, .industry-container
{
    padding: 1rem 0 1rem 1rem;
    border-radius: 20px;
    margin-top: 2%;
    height:50%;
}


.expert-container
{
    background: rgba(255, 255, 200, 0.5);
    }

.color-white
{
    background: white;
    padding:0.2rem;

}

.notification
{
    border-left: 1px solid #f5f5f5;
    overflow: auto;
}

.job-notification
{
    padding:1rem;
    border-bottom: 1px solid #f5f5f5;
}

.notification h5
{
    margin-bottom: 2%;
    margin-top: 1%;
    color: indigo;
}

.add-job-link
{
    width:100%;

}

.all-jobs
{
    width: 100%;
}

.action-btn
{
    width: 90%;
    margin-top:3%;
    bottom:0;
}