#experts, #jobs
{
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px 0.5px rgba(0,0,0,0.2);
    padding:1.5rem;
    font-weight: bold;
    text-align: center;
}

#experts h6, #jobs h6
{
    font-weight: bold;
}

#experts img, #jobs img
{
    width: 25%;
}

.course-container
{
    border-left: 1px solid #e5e5e5;
    padding:10px;
    float: right;
    margin-top: 8%;
    height: 90%;
}

.course-name
{
    text-align: left;
}

.course-detail
{
    font-size: 12px;
    text-align: left;
}

.course-duration
{
    color: gray;
    text-align: right;
}

.course-price
{
    margin-top: 20%;
    font-size: 24px;
    font-weight: bold;
    color:black;
}

.course
{
    padding-bottom:10px;
    padding-top:10px;
    color:black;
    border-bottom: 1px solid #e5e5e5;
}

.container-title
{
    padding: 5px;
}

#details-button
{
    float:right;
    border-radius: 20px;
    background-color: #00023A;
}

.counselling-image {
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    float: left;
    height:20vh;
    border: 2px solid #e5e5e5;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00023a;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}

.career-div:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
    font-weight:bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.story-div
{
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px 1px rgba(0, 0,0, 0.2);
    padding: 10px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    float: left;
}

.story-content
{
    color: #00023A;
    font-weight: bold;
    margin-top: 10%;
}

.video-img
{
    width: 30%;
}
.video-img:hover
{
    transform: rotate(-15deg);
}


.heading
{
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}

.educate-video
{
    border: 5px solid #fafafa;
    border-radius: 5px;
    width: 100%;
}

.background-img
{
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:40rem;
}

.expert-name
{
    text-align:left;
    padding: 0.5rem;
}

.expert-img
{
    background-size: cover;
    border-radius: 50%;
    border:2px solid #fafafa;
    width: 100%;
    background-position: center;
}

.expert-div{
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding:1rem;
}

.expert-div h6
{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom:2%;
}


.image {
  width: 100%;
  height: 80vh;
  display: block;
  /*position: relative;*/
  overflow: hidden;
}


.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: 1;
}

.image-container img {
      /*-webkit-filter: drop-shadow(-4px 5px 5px rgba(0,0,0,0.6));*/
      /*filter: drop-shadow(-4px 5px 5px rgba(0,0,0,0.6));*/
        animation: image-slide 4s cubic-bezier(.5,.5,0,1);
  animation-fill-mode: forwards;
  }


.text-container {
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-left: -100px;
}

 .text-container h1
 {
     font-weight: bold;
     margin-left: 10%;
     /*color: #00023A;*/
     background-image: linear-gradient(to right, #ff6624 10%, #00023a 90%);
     background-clip: text;
     -webkit-text-fill-color: transparent;
     font-size: 4em;
 }

 .text-container h5
 {
     margin-left: 10%;
     font-size: 1.5em;
     padding:1rem;
 }

 .text-container h6
 {
     margin-top:10%;
     margin-left: 10%;
     padding:1rem;
     border: 1px solid blueviolet;
     border-radius: 10px;
     font-size:1.2em;
     width: 50%;
     text-align: center;
     color: blueviolet;
 }
.text-container .fading-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: white;
  }
@keyframes image-slide {
  0% { transform: translateX(100px) scale(0); }
  60% { transform: translateX(100px) scale(0.8); }
  90% { transform: translateX(-250px) scale(0.8); }
  100% { transform: translateX(-250px) scale(0.8); }
}

/* Slides the text by shrinking the width of the object from full (100%) to nada (0%) */
@keyframes text-slide {
  0% { width: 100%; }
  60% { width: 100%; }
  75%{ width: 0; }
  100% { width: 0; }
}


.first_video
{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.video-div
{
    width: 100%;
}

.learn-more
{
    z-index: 3;
    margin-left: 10%;
    position: fixed;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4);
    width: 20%;
}


.learn-more:hover
{
    z-index: 3;
    margin-left: 10%;
    position: fixed;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0);
}