.video-frame
{
    width: 100%;
    border:0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
}

#video-upload-div
{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#text{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}

#road{
    z-index: 2;
}

.card {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 20px;
    bottom: 20px;
    margin-bottom: 1rem;
    /*right: 20px;*/
    /*left: 20px;*/
    /*margin-right: 10px;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.7);
}

form{
	width: 100%;
    color:#00023A;
    padding:2rem;
    font-weight: bold;
}

form .row
{
    margin-top: 1%;
}

form button
{
    width: 100%;
}

.col-md-5
{
    padding-bottom: 2rem;
    color:black;
    font-weight: bold;
    border-radius: 10px;
    background-color: #fdfdfd;
}

.col-md-7
{
    padding: 2rem;
    border-radius: 20px;
}

.col-md-7 h1
{
    font-size: 3.2rem;
    font-weight: bold;
}

.inspire-heading-row
{
    margin-top: 6%;
    padding: 20px 0 0 10px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.video-img
{
    width: 50%;
    float: right;
}

.video-img:hover
{
    transform: rotate(-30deg);
}

.video-div
{
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
}

#exampleModal
{
    z-index: 9999;
}

.inspire-text
{
    padding: 5rem;
    text-align: justify;
    color:black;
}