{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://kit.fontawesome.com/a6c479c4d6.js" crossorigin="anonymous"></script>
        <title>Register | Predulive Edutech Foundation</title>
        <link rel="icon" href="{% static 'web_app/images/logo.png' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'web_app/styles/register.css' %}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid login-div">
            <div class="container">
                <div class="row login-row">
                    <div class="col-md-6 login-form">
                        <div class="row">
                                <div class="col-md-2">
                                    <a class="btn btn-default" href="{% url 'home' %}">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        &nbsp;&nbsp;<i class="fa fa-home" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="col-md-10" style="text-align: center;">
                                    <img src="{% static 'web_app/images/logo1.png' %}" alt="logo.png" class="logo">
                                    <br><br>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{% url 'student-register' %}">
                                    <button class="btn btn-default" id="student-button">
                                        <img class= "profession-image" src="{% static 'web_app/images/logo/student.png' %}" alt="Student.png">Student
                                    </button>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'expert-register' %}">
                                    <button class="btn btn-default" id="expert-button">
                                        <img class= "profession-image" src="{% static 'web_app/images/logo/education.png' %}" alt="Expert.png">Expert
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:6.5%;">
                            <div class="col-md-6">
                                <a href="{% url 'institute-register' %}">
                                    <button class="btn btn-default" id="institute-button">
                                        <img class= "profession-image" src="{% static 'web_app/images/logo/school.png' %}" alt="Student.png">Institue
                                    </button>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'industry-register' %}">
                                    <button class="btn btn-default" id="industry-button">
                                        <img class= "profession-image" src="{% static 'web_app/images/logo/factory.png' %}" alt="Student.png">Industry
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 about-div">
                        Welcome to,
                        <h5>
                            <a href="https://predulive.com/" target="_blank">Predulive Edutech Foundation</a>
                        </h5>
                        <hr><br><br>
                        <p>
                            Predulive Edutech Foundation with a mission to inspire, aware, educate & employ by driving large-scale job creation through
                            entrepreneurship, innovation and skills development is going out of the new technical innovative ways to train more people
                            and help them achieve new heights.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>