{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>{{ user.first_name }} {{ user.last_name }} | Dashboard</title>
    <link rel="stylesheet" href="{% static 'web_app/styles/dashboard.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-4 action">
                <div class="container">
                    <div class="row" style="margin-bottom: 5%;">
                        <div class="col-md-8">
                            <h4>Action Area</h4>
                        </div>
                        <div class="col-md-4" style="text-align:right;">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </div>
                    </div>
                    <a href="{% url 'student-video' user.student.pk %}">
                        <div class="row div-group">
                            <div class="col-md-3">
                                <img src="{% static 'web_app/images/dashboard/inspire.png' %}" alt="inspire.png">
                            </div>
                            <div class="col-md-9">
                                <h6>Your Video's</h6>
                                <small class="text-muted">(your inspirational videos)</small>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="row div-group">
                            <div class="col-md-3">
                                <img src="{% static 'web_app/images/dashboard/aware.png' %}" alt="aware.png">
                            </div>
                            <div class="col-md-9">
                                <h6>Counselling Session</h6>
                                <small class="text-muted">(counselling sessions and results)</small>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'student-course' user.student.pk %}">
                        <div class="row div-group">
                            <div class="col-md-3">
                                <img src="{% static 'web_app/images/dashboard/educate.png' %}" alt="inspire.png">
                            </div>
                            <div class="col-md-9">
                                <h6>Courses</h6>
                                <small class="text-muted">(your enrolled courses)</small>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="row div-group">
                            <div class="col-md-3">
                                <img src="{% static 'web_app/images/dashboard/employ.png' %}" alt="inspire.png">
                            </div>
                            <div class="col-md-9">
                                <h6>Jobs</h6>
                                <small class="text-muted">(your applied jobs)</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container expert-container">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Experts</h4>
                        </div>
                        <div class="col-md-4" style="text-align:right;">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                    </div>
                    {% if experts %}
                        {% for expert in experts %}
                            <a href="{% url 'expert-profile' expert.pk %}">
                                <div class="row" style="margin-left:1.5%;">
                                {% if expert.profile_pic %}
                                    <div class="col-md-2 expert-img" style="background: url('{{ expert.profile_pic.url }}') center;background-size: cover;"></div>
                                    {% else %}
                                    <div class="col-md-2 expert-img" style="background: url('{% static 'web_app/images/dashboard/user.png' %}') center;background-size: cover;"></div>
                                    {% endif %}
                                    <div class="col-md-9 color-white">
                                        <h6>{{ expert.user.first_name }} {{ expert.user.last_name }}</h6>
                                        <small class="text-muted">Email-ID : {{ expert.user.email }}</small><br>
                                        <small class="text-danger">Expertise Area : {{ expert.expertise_area }}</small>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'all-experts' %}" class="btn btn-outline-danger action-btn">See All Experts</a>
                        </div>
                    </div>
                    {% else %}
                        <h6>No Experts Found</h6>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="container institute-container">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Institutes</h4>
                        </div>
                        <div class="col-md-4" style="text-align:right;">
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                    </div>
                    {% if institutes %}
                        {% for institute in institutes %}
                            <a href="{% url 'institute-profile' institute.pk %}">
                                <div class="row" style="margin-left:1.5%;">
                                {% if institute.icon %}
                                    <div class="col-md-2 expert-img" style="background: url('{{ institute.icon.url }}') center;background-size: cover;"></div>
                                    {% else %}
                                    <div class="col-md-2 expert-img" style="background: url('{% static 'web_app/images/school.png' %}') center;background-size: cover;"></div>
                                    {% endif %}
                                    <div class="col-md-9 color-white">
                                        <h6>{{ institute.user.first_name|slice:"0:30" }}..</h6>
                                        <small class="text-muted">Email-ID : {{ institute.user.email }}</small><br>
                                        <small class="text-success">Location: {{ institute.address }}</small>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-outline-success action-btn">See All Institutes</a>
                        </div>
                    </div>
                    {% else %}
                        <h6>No Institutes Found</h6>
                    {% endif %}
                </div>
                <div class="container industry-container">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Industries</h4>
                        </div>
                        <div class="col-md-4" style="text-align:right;">
                            <i class="fa fa-industry" aria-hidden="true"></i>
                        </div>
                    </div>
                    {% if industries %}
                        {% for industry in industries %}
                            <a href="{% url 'industry-profile' industry.pk %}">
                                <div class="row" style="margin-left: 1.5%;">
                                {% if industry.icon %}
                                    <div class="col-md-2 expert-img" style="background: url('{{ industry.icon.url }}') center;background-size: cover;"></div>
                                    {% else %}
                                    <div class="col-md-2 expert-img" style="background: url('{% static 'web_app/images/industry.png' %}') center;background-size: cover;"></div>
                                    {% endif %}
                                    <div class="col-md-9 color-white">
                                        <h6>{{ industry.user.first_name }}</h6>
                                        <small class="text-muted">Email-ID : {{ industry.user.email }}</small><br>
                                        <small class="text-danger">Location: {{ industry.address }}</small>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-outline-danger action-btn">See All Industries</a>
                        </div>
                    </div>
                    {% else %}
                        <h6>No Industries Found</h6>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 action notification">
                <h4>Notification Area</h4>
                <div class="container">
                    <h5>Latest Jobs</h5>
                    {% if jobs %}
                        {% for job in jobs %}
                            <a href="{% url 'job-detail' job.pk %}">
                                <div class="row job-notification">
                                    <div class="col-md-2" style="background: url('{% static 'web_app/images/dashboard/user-job.png' %}') center; background-size: cover;">
                                    </div>
                                    <div class="col-md-10">
                                        <h6>{{ job.job_title }}</h6>
                                        <small class="text-muted">Stipend : {{ job.stipend }}</small>
                                        <br>
                                        <small class="text-muted">Posted By : {{ job.user.first_name }} {{ job.user.last_name }}</small>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        <a href="#" class="btn btn-info all-jobs" style="margin-top:2%;">View All Jobs</a>
                    {% else %}
                        <h6>No Jobs Found</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <p>You are not allowed here</p>
    {% endif %}
{% endblock %}