{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Experts | Predulive Edutech Foundation</title>
    <link rel="stylesheet" href="{% static 'web_app/styles/home.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        {% if all_experts %}
            {% for expert in all_experts %}
                <div class="col-md-4">
                    <div class="row">
                        {% if expert.profile_pic %}
                            <div class="col-md-3" style="background: url('{{ expert.profile_pic.url }}') center; background-size: cover;"></div>
                        {% else %}
                            <div class="col-md-3" style="background: url('{% static 'web_app/images/dashboard/user.png' %}') center; background-size: cover;"></div>
                        {% endif %}
                        <div class="col-md-9">
                            <h6 class="expert-name">{{ expert.user.first_name }} {{ expert.user.last_name }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}