{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Add New Course</title>
    <link rel="stylesheet" href="{% static 'web_app/styles/educate.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 course-form-div">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <h5>Add New Course</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="id_course_title">
                                    Course Title:
                                </label>
                                <input type="text" name="course_title" class="form-control" placeholder="Enter Course Name" maxlength="500" required id="id_course_title">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="id_course_category">
                                    Course Category:
                                </label>
                                <input type="text" name="category" class="form-control" placeholder="Enter Category" maxlength="500" required id="id_course_category">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="id_short_intro">
                                    Short Introduction about Course:
                                </label>
                                <input type="text" name="short_intro" value="Write short detail about course" class="form-control" placeholder="Enter Short Detail" maxlength="500" required id="id_short_intro">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="id_course_icon">
                                    Course Icon:
                                </label>
                                <input type="file" name="course_icon" id="id_course_icon">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="id_course_file">
                                    Course File:
                                </label>
                                <input type="file" name="course_file" id="id_course_file">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="id_duration">
                                    Course Duration <small>(in months)</small>:
                                </label>
                                <input type="text" name="duration" class="form-control" placeholder="Enter Course Duration in Months" required id="id_duration">
                            </div>
                        </div>
                        <div class="row">
                    <div class="col-md-12">
                        <label for="id_price">
                            Course Amount:
                        </label>
                        <input type="text" name="price" class="form-control" placeholder="Enter Course Price in INR" required id="id_price">
                    </div>
                </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="id_about_course">
                                    About Course:
                                </label>
                                <textarea name="about_course" cols="40" rows="10" class="form-control" placeholder="Enter About Course" required id="id_about_course"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary">ADD COURSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}