{% extends 'base.html' %}
{% load static %}

{% block head %}
        <title>Predulive Edutech Foundation</title>
        <link rel="stylesheet" href="{% static 'web_app/styles/home.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 image">
                <div class="image-container">
                    <img class="education-img" src="{% static 'web_app/images/education.jpg' %}" alt="Main.png">
                </div>
                <div class="text-container">
                    <h1>Creating <u>Opportunity, Improving Life....</u></h1>
                    <h5>World's no. 1 integrated platform which offers complete solutions for YOUTH..</h5>
                    <div>
                        <a href="{% url 'member-register' %}" class="btn btn-danger learn-more">Learn More.</a>
                    </div>
                    <h6>
                        <img src="{% static 'web_app/images/globe.png' %}" alt="globe.png" style="width:15%;"> &nbsp; &nbsp;Show your talent worldwide..
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'all-experts' %}">
                            <div id="experts">
                                <img src="{% static 'web_app/images/dashboard/expert.png' %}" alt="Expert.png">
                                <hr>
                                <h6>SUBJECT EXPERTS</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'all-jobs' %}">
                            <div id="jobs">
                                <img src="{% static 'web_app/images/dashboard/portfolio.png' %}" alt="Jobs.png">
                                <hr>
                                <h6>EMPLOYMENT</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-md-10">
                        <h5 class="heading">Our Inspirational Videos</h5>
                    </div>
                    <div class="col-md-2">
                        <a href="#" style="text-align: right;">All Videos</a>
                    </div>
                </div>
                <div class="row" style="margin-top:2%;">
                    <div class="col-md-6">
                        <video class="video-div first_video" controls>
                            <source src="{% static 'web_app/video/anthem.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-md-6">
                        <video class="video-div" controls>
                            <source src="{% static 'web_app/video/memories_of_2_years_completion.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <video class="video-div" controls>
                            <source src="{% static 'web_app/video/covid_prevention.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-md-6">
                        {% if user.is_authenticated %}
                            <a href="{% url 'video-upload' user.pk %}">
                                <div class="story-div">
                                    <p class="story-content">Tell Us About Your Story</p>
                                    <img class="video-img" src="{% static 'web_app/images/video.png' %}" alt="video.png">
                                </div>
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}">
                                <div class="story-div">
                                    <p class="story-content">Tell Us About Your Story</p>
                                    <img class="video-img" src="{% static 'web_app/images/video.png' %}" alt="video.png">
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container-fluid course-container">
                        <div class="row container-title">
                            <div class="col-md-12">
                                <h5>Popular Courses</h5>
                            </div>
                        </div>
                        {% if all_courses %}
                            {% for course in all_courses %}
                                <div class="row">
                            <div class="col-md-12">
                                <div class="container course">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="course-name">{{ course.course_title }}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="course-detail">{{ course.about_course|slice:"0:100" }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <small class="course-duration">Duration: {{ course.duration }} months</small>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{% url 'course-detail' course.pk %}" class="btn btn-info btn-sm" id="details-button">Get Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                            {% else %}
                            <p>No Courses Found</p>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top:2%;">
            {% if user.is_authenticated and user.is_superuser %}
                <div class="col-md-9">
                    <h5 class="heading">Career Awareness</h5>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'add-career-awareness' %}" class="btn btn-outline-info" style="width:100%;">Add Photos</a>
                </div>
            {% else %}
                <div class="col-md-10">
                    <h5 class="heading">Career Awareness</h5>
                </div>
                <div class="col-md-2">
                    <a href="#" style="width:100%;">View All</a>
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if all_career_awareness %}
                {% for career in all_career_awareness %}
                    <div class="col-md-3 career-div">
                        <a target="_blank" href="{{ career.link }}">
                            <img class="counselling-image" src="{{ career.banner_image.url }}" alt="{{ career.title }}">
                            <div class="overlay">
                                <div class="text">Click for more details</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <h5>Demo Data</h5>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <div class="col-md-10">
                <h5 class="heading">Our Working Projects (Educate)</h5>
            </div>
            <div class="col-md-2">
                <a href="#">All Projects</a>
            </div>
        </div>
        <div class="row" style="margin-top: 2%;">
            <div class="col-md-3">
                <iframe class="educate-video" src="https://www.youtube.com/embed/5IIE6Z2foJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-3">
                <iframe class="educate-video" src="https://www.youtube.com/embed/OM7j0vM89HE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-3">
                <iframe class="educate-video" src="https://www.youtube.com/embed/7C8PwiMdKzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-3">
                <iframe class="educate-video" src="https://www.youtube.com/embed/XV52X1U42EY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 2%;">
        <div class="row">
            {% if user.is_authenticated and not user.is_student %}
                <div class="col-md-8">
                    <h5 class="heading">Employment (Hot Jobs)</h5>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-danger" href="{% url 'job-post' user.pk %}" style="width:100%;">Add Job</a>
                </div>
            {% else %}
                <div class="col-md-10">
                    <h5 class="heading">Employment (Hot Jobs)</h5>
                </div>
            {% endif %}
            <div class="col-md-2">
                <a class="btn btn-default" href="{% url 'all-jobs' %}">All Jobs</a>
            </div>
        </div>
        <div class="row" style="margin-top: 1%;">
            <div class="col-md-6">
                <h5>Government Jobs</h5>
                <div class="row">
                    <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SBI Junior Associates Clerk Online, 5000 post</h5>
                        <small class="card-text">State Bank of India SBI Are Recently Invited Online Application Form for the Junior Associate Clerk Recruitment 2021.
                            Those Candidates Are Interested to the...
                        </small><br>
                        <a style="float:right;" href="https://www.sarkariresult.com/bank/sbi-clerk-2021.php" class="btn btn-primary">More information</a>
                    </div>
                </div>
            </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">UP Police Sub Inspector SI Online, 9534 Post</h5>
                        <small class="card-text">Uttar Pradesh Police Recruitment and Promation Board UP PRPB Are Invited to Online Application Form for the Recruitment
                            Post of Sub Inspector 2021. Those Candidates Are Interested to the...
                        </small><br>
                        <a style="float:right;" href="https://www.sarkariresult.com/2021/up-police-si-2021.php" class="btn btn-primary" target="_blank">More information</a>
                    </div>
                </div>
            </div>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Tech Jobs</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Google is hiring for several tech roles in India</h5>
                                <small class="card-text">Google India has rolled out applications for several tech roles across the country. Interested candidates
                                    can easily apply on the website. Here are the major details.
                                </small><br>
                                <a style="float:right;" href="https://content.techgig.com/google-is-hiring-for-several-tech-roles-in-india-here-are-the-details/articleshow/82358491.cms" class="btn btn-primary">More information</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Salesforce is hiring IT professionals for several roles</h5>
                                <small class="card-text">Salesforce is hiring for several technical roles in several locations across India. Interested candidates can
                                    directly visit their website and apply. Here are the details.
                                    <br>1. Global Operations Lead- Global Business Services | Hyderabad
                                </small><br>
                                <a style="float:right;" href="https://content.techgig.com/salesforce-is-hiring-it-professionals-for-multiple-job-roles-apply-here/articleshow/82358252.cms" class="btn btn-primary" target="_blank">More information</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}