{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Post Job | Predulive Edutech Foundation </title>
    <link rel="stylesheet" href="{% static 'web_app/styles/employ.css' %}">
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <h4>Post a Job</h4>
       <div class="container job-container">
           <h6>Basic Details:</h6>
           <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Job Type:</span>
                    </div>
                    <input type="text" name="job_type" maxlength="100" required id="id_job_type" class="form-control" aria-label="Job Type" aria-describedby="inputGroup-sizing-default" placeholder="Example: Full time, Part time...">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Job Title:</span>
                    </div>
                    <input type="text" name="job_title" maxlength="255" required id="id_job_title" class="form-control" aria-label="Job Title" aria-describedby="inputGroup-sizing-default" placeholder="Enter Job Title Here...">
                </div>
            </div>
        </div>
           <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Duration:</span>
                    </div>
                    <input type="text" name="duration" maxlength="20" id="id_duration" class="form-control" aria-label="Duration" aria-describedby="inputGroup-sizing-default" placeholder="Enter Job Duration..">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Location:</span>
                    </div>
                    <input type="text" name="location" maxlength="100" required id="id_location" class="form-control" aria-label="Location" aria-describedby="inputGroup-sizing-default" placeholder="Enter Job Location..">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Stipend:</span>
                    </div>
                    <input type="text" name="stipend" maxlength="100" id="id_stipend" class="form-control" aria-label="Stipend" aria-describedby="inputGroup-sizing-default" placeholder="Enter Stipend..">
                </div>
            </div>
        </div>
       </div>
        <div class="container job-container">
            <h6>About Job:</h6>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Job Requirements:</span>
                        </div>
                        <input type="text" name="job_requirements" maxlength="500" required id="id_job_requirements" class="form-control" aria-label="Job Requirements" aria-describedby="inputGroup-sizing-default" placeholder="Job Requirements like Python, Java etc..">
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Job Description:</span>
                    </div>
                    <textarea class="form-control" aria-label="Job Description" name="job_description" cols="40" rows="10" required id="id_job_description"></textarea>
                </div>
            </div>
        </div>
        </div>
        <div class="container job-container">
            <h6>Contact Details:</h6>
            <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Contact Mail:</span>
                    </div>
                    <input type="email" name="contact_mail" maxlength="254" id="id_contact_mail" class="form-control" aria-label="Contact Email" aria-describedby="inputGroup-sizing-default" placeholder="Enter Contact Mail..">
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroup-sizing-default">@example.com</span>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Contact Number:</span>
                            <span class="input-group-text" id="inputGroup-sizing-default">+91</span>
                        </div>
                        <input type="number" name="contact_number" maxlength="10" id="id_contact_number" class="form-control" aria-label="Contact Number" aria-describedby="inputGroup-sizing-default" placeholder="Enter Contact Number..">
                        <div class="input-group-append">
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <button class="btn btn-info job-btn">SUBMIT</button>
                    <button class="btn btn-default job-btn">CANCEL</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}